@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  header{
    position: sticky;
    top:0;
    background: white;
    height:66px;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .rightBox{
    display: flex;
    margin:12px;
  }
  .left img{
    width:32px;
    height:23px;
  }
  .container{
    padding: 0 5vw;
    background-color: rgb(241, 242, 255);
  }
  
  .containerHeader{
    padding:0 5vw;
  }
  
  nav{
    font-size:12px;
    padding-top: 14px;
  }
  
  nav ul li{
    list-style:none;
    padding:0 12px;
  }
  
  .search{
    width:34vw;
    padding:7px 17px;
    border: 0.5px solid gray;
    background:#f8f8ff;
    border-radius:5px;  
  }


.homeImg{
  width: 88vw;
  margin: 10px 5px;
}
.itemImg{
  margin: 5px 5px;
}
footer{
  background-color: black;
  height: 10vh;
  color: #e7e7fd;
  align-items: center;
}

label #btn,
label #cancel{
  font-size: 20px;
  float: left;
  /* line-height: 80px; */
  /* margin-left: 80px; */
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width:980px) {
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 70%;
    height: 100vh;
    background: rgb(54, 47, 47);
    top: 0px;
    left: -100%;
    text-align: center;
    color: #e7e7fd;
    display: flex;
    flex-direction: column;
    transition: all .5s;
  }
}
.var{
  display: block;
  margin: 50px 0;
  line-height: 30px;
  font-size: 17px;
  line-height: 10px;
}
#check:checked ~ ul{
  left: 0;
}

#check:checked ~ label #btn{
  display: none;
}

#check:checked ~ label #cancel{
  display: block;
}


.homeImg{
  width: 100vw;
  margin:3px 0px;
}
.itemImg{
  height: 60vw;
}
